@media screen and (max-width: 419px) {
    #lezioni .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: rgb(242,242,205);
    }
    #steps .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: rgb(255,255,255);
    }
    #why .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: rgb(242,242,205);
    }
}

@media screen and (max-width: 419px) {
    h1 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2em;
    }
}