@media screen and (max-width: 419px) {
    #lezioni .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: rgb(242,242,205);
    }
    #steps .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: rgb(255,255,255);
    }
    #why .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: rgb(242,242,205);
    }
}

@media screen and (max-width: 419px) {
    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 2.2rem;
        margin: 0;
    }

    #lezioni .row>.left, #lezioni .row>.right {
        width: 100%;
        font-size: 1.9rem;
        margin-bottom: 30px;
    }
    #steps .row>.left, #steps .row>.central, #steps .row>.right {
        width: 100%;
        font-size: 1.9rem;
        margin-bottom: 30px;
    }
    #why .row>.first, #why .row>.second, #why .row>.third {
        font-size: 1.8rem;
        margin: 0;
    }
}